.farmers-navigation {

  &.menu--main {
    @include equal-padding ($med-margin);
    padding-bottom: $small-padding;
    background: $farmers-green;

    .menu {
      @include clear-margin;

      .menu-item {
        @include font ($primary-font, null, $white, null, null);
        @include vertical-padding ($small-padding);
        text-transform: uppercase;

        a {

          &.is-active {
            color: $white;
            border-bottom: .4rem solid $white;
            padding-bottom: .2rem;
          }

        }

      }

    }

  }

  &.menu--footer {
    @include equal-padding ($med-margin);
    padding-bottom: $small-padding;
    background: $farmers-grey;

    .menu {
      @include clear-margin;

      .menu-item {
        @include font ($primary-font, null, $black, 700, null);
        @include vertical-padding ($small-padding);
        text-transform: uppercase;

        a {

          &.is-active {
            color: $black;
            border-bottom: .4rem solid $black;
            padding-bottom: .2rem;
          }

        }

      }

    }

  }

}

.farmers-footer-navigation {
  @include vertical-margin ($lrg-margin);
  background-color: $light-grey;
  padding-top: $lrg-padding;

  ul.farmers-footer-navigation--links {
    @include clear-margin;
    @include equal-padding ($med-margin);


    li {
      flex: 0 1 auto;
    }

  }

}

.farmers-footer--social {
  @include equal-padding ($med-margin);

  .farmers-footer-social--set {
    @include equal-padding ($small-margin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }

}
