.farmers-branding {
  @include equal-padding ($med-padding);
  padding-bottom: $small-padding;
  display: flex;

  &--site-name {
    // @include font ($primary-font, 2.3rem, $black, 400, 2.5rem);

    a {
      color: $black;
    }

  }

  &--site-slogan {
    @include font ($primary-font, 1.5rem, $black, 300, 2.2rem);
    text-transform: uppercase;
  }

}
