.usa-banner {
  padding: .5rem 2rem;
  display: flex;
  background-color: $light-grey;

  p {
    @include clear-margin;
    @include font ($primary-font, 1.2rem, $black, 400, 1.8rem);
  }

}

// hiding our banner in the footer render
.farmers-footer--branding {

  .usa-banner {
    display: none;
  }

}
