//including special calls to the module for printing color
/* @start color */
:root {
  --black: #000000;
  --white: #FFFFFF;
  --grey: #6C6463;
  --light-grey: #F7F7F7;
  --farmers-grey: #F1F1F1;
  --farmers-blue: #02BFE7;
  --farmers-green: #006546;
}
/* @end color */

// color variables
$black: #000000;
$white: #FFFFFF;
$grey: #6C6463;
$light-grey: #F7F7F7;
$farmers-grey: #F1F1F1;
$farmers-blue: #02BFE7;
$farmers-green: #006546;
