//font-variables
$rembase: 10px !default;//to set up easy rem math;
$lineheight: 10px !default;//to set up easy rem math;
$primary-font: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$secondary-font: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$body-font-default: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
