// breakpoint variables
$mobile: 400px;
//at tablet portriat we should already be getting the desktop experience
$tablet: 767px;
//any adjustments larger than tablet landscape should should use this breakpoint
// $desktop: 1025px;

//@include breakpoint(point){}
@mixin breakpoint($point) {

  @if $point == mobile {
      @media (min-width: $mobile) { @content ; }
  } @else if $point == tablet {
      @media (min-width: $tablet) { @content ; }
  } @else if $point == desktop {
    //  @media (min-width: $desktop) { @content ; }
  }

}
