{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="usa-banner">
    <img class="img--usflag" src="themes/custom/bixal_farmers/assets/images/flag-favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
  </div>

<div class="farmers-branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
    <img class="img--logo" src="themes/custom/bixal_farmers/assets/images/usda-symbol.svg" alt="{{ 'Home'|t }}" />
  </a>
  <div>
    {% if site_name %}
      <div class="farmers-branding--site-name">
        <h1><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></h1>
      </div>
    {% endif %}

    {% if site_slogan %}
      <div class="farmers-branding--site-slogan">{{ site_slogan }}</div>
    {% endif %}
    </div>
  </div>
{% endblock %}
