{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{%
  set classes = [
    'block',
    'block-menu',
    'farmers-navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}

<div class="return-to-top">
  <a href="#">Return to top<a>
</div>
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
<div class="farmers-footer-navigation">           
  <ul class="farmers-footer-navigation--links">
    <li class="farmers-footer-navigation--link">
      <a href="https://www.dm.usda.gov/foia/" id="anch_12">FOIA</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.usda.gov/accessibility-statement" id="anch_13">Accessibility Statement</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.usda.gov/privacy-policy" id="anch_14">Privacy Policy</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.usda.gov/non-discrimination-statement" id="anch_15">Non-Discrimination Statement</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.ocio.usda.gov/policy-directives-records-forms/information-quality-activities" id="anch_16">Information Quality</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://newfarmers.usda.gov/" id="anch_17">New Farmers</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.usda.gov/our-agency/initiatives/veterans" id="anch_18">Veterans</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.usda.gov/topics/disaster" id="anch_19">Disaster Resource Center</a>
    </li>
    <li class="farmers-footer-navigation--link">
      <a href="https://www.whitehouse.gov" id="anch_20">Whitehouse.gov</a>
    </li>
  </ul>
</div>
<div class="farmers-footer--branding">
{{ drupal_block('bixal_farmers_branding') }}
</div>
<div class="farmers-footer--social"> 
  <div class="farmers-footer-social--set">
    <a class="farmers-link-twitter ext" href="https://www.twitter.com/usda/" target="_top"><img class="img--social-icon" border="0" alt="USDA on Twitter" src="themes/custom/bixal_farmers/assets/images/social-icon-twitter.svg"></img></a>
    <a class="farmers-link-facebook ext" href="https://www.facebook.com/usda/" target="_top"><img class="img--social-icon" border="0" alt="USDA on Facebook" src="themes/custom/bixal_farmers/assets/images/social-icon-facebook.svg"></img></a>
    <a class="farmers-link-google ext" href="https://plus.google.com/107279790852845021682" rel="publisher" target="_top" ><img class="img--social-icon" border="0" alt="USDA on Google+" src="themes/custom/bixal_farmers/assets/images/social-icon-google.svg"></img></a>
    <a class="farmers-link-govdelivery ext" href="https://public.govdelivery.com/accounts/USDAOC/subscriber/new" target="_top" ><img class="img--social-icon" border="0" alt="USDA govdelivery" src="themes/custom/bixal_farmers/assets/images/social-icon-govdelivery.svg"></img></a>
  </div>
  <div class="farmers-footer-social--set">
    <a class="farmers-link-instagram ext" href="https://www.instagram.com/usdagov/" target="_top"><img class="img--social-icon" border="0" alt="USDA on Instagram" src="themes/custom/bixal_farmers/assets/images/social-icon-instagram.svg"></img></a>
    <a class="farmers-link-flickr ext" href="https://flickr.com/usdagov" rel="publisher" target="_top"><img class="img--social-icon" border="0" alt="USDA on Flickr" src="themes/custom/bixal_farmers/assets/images/social-icon-flickr.svg"></img></a>
    <a class="farmers-link-youtube ext" href="https://www.youtube.com/usda/" target="_top"><img class="img--social-icon" border="0" alt="USDA on Youtube" src="themes/custom/bixal_farmers/assets/images/social-icon-youtube.svg"></img></span></a>
    <a class="farmers-link-rss" href="/rss-feeds" target="_top"><img class="img--social-icon" border="0" alt="USDA RSS" src="themes/custom/bixal_farmers/assets/images/social-icon-rss.svg"></img></a> 
  </div>
</div>