/* @start color */
:root {
  --black: #000000;
  --white: #FFFFFF;
  --grey: #6C6463;
  --light-grey: #F7F7F7;
  --farmers-grey: #F1F1F1;
  --farmers-blue: #02BFE7;
  --farmers-green: #006546; }

/* @end color */
.toolbar-oriented .toolbar-tray-vertical.is-active {
  min-width: 200px; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: ''; }
  pre,
  blockquote {
    border: 1px solid #6C6463;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .navbar {
    display: none; }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000000 !important; }
  .label {
    border: 1px solid #000000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #FFFFFF !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #FFFFFF !important; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: #F7F7F7; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: arial;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  text-align: left;
  background-color: #FFFFFF; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 500; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #02BFE7;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a a:hover {
    color: #02BFE7;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6C6463;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.region-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem; }

/*
@styleguide

@title Typography

Default styles are assigned to elements.

<h1>H1 - Source Sans Pro SemiBold</h1>

    <h1>Use h1 for hero and page structure</h1>

<h1 class="section-header">Section Header - Source Sans Pro SemiBold</h1>

    <h1 class="section-header">Section-headerfor structure for alternative styling</h1>

<h2>H2 - Source Sans Pro SemiBold</h2>

    <h2>Use h2 for title and subtitle</h2>

<h4>H4 - Source Sans Pro Italic </h4>

    <h4>Use h4 for emphasis</h4>

The elements in this section give semantics to inline text.
    <p>The default font-size and line-height properties are applied to the <code>&lt;body&gt;</code> element and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin.</p>
    <p>You can use the mark tag to
        <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del>
    </p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s>
    </p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins>
    </p>
    <p><u>This line of text will render as underlined</u>
    </p>
    <p><small>This line of text is meant to be treated as fine print.</small>
    </p>
    <p>The following snippets of text are <strong class="">rendered</strong> as <b class="">bold
    text</b>. Bold text nested inside <i>italic text <b>should</b></i> <em>still be
    <strong>bold</strong></em>.</p>
    <p>The following snippets of text are <em class="">rendered</em> as <i class="">italic text</i>. Italic text nested inside <b>bold text <i>should</i></b> <strong>still be
    <em>italic</em></strong>
    </p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>. And <abbr title="HyperText Markup Language">HTML</abbr> is an acroynm.</p>
    <p><abbr>M<sup>lle</sup></abbr> Gwendoline wrote the equation <code>f(x, n) = log<sub>4</sub>x<sup class="">n</sup></code>.</p>

Addresses
Present contact information for the nearest ancestor or the
entire body of work. Preserve formatting by ending all lines with `<br>`.

Blockquotes
Wrap `<blockquote>` around any __HTML__ as the quote.
For straight quotes, we recommend a `<p>`.

Horizontal rule
The `<hr>` element represents a paragraph-level thematic break,
e.g. a scene change in a story, or a transition to another topic
within a section of a reference book.
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id
dolor id nibh ultricies vehicula.</p>
<hr>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

<span style="font-weight:bold; font-size:22px;">CSS</span>
*/
html {
  font-size: 10px;
  line-height: 10px; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #000000;
  line-height: 2.4rem; }

b,
strong {
  font-weight: bold; }

h1 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  color: #000000;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0; }

h2 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 3.2rem;
  color: #006546;
  font-weight: 700;
  line-height: 4.8rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0; }

p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #006546;
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 2rem; }

a {
  color: #006546; }
  a.is-active, a:hover {
    border-bottom: 0.1rem solid #006546;
    padding-bottom: .1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #000000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

ul {
  list-style: none !important; }

article ul {
  margin-top: 0;
  margin-bottom: 2rem;
  list-style: none !important; }
  article ul li::before {
    content: '\25AA';
    color: #006546;
    display: inline-block;
    width: 2rem; }

.img--logo {
  width: 6.5rem;
  margin-right: 1rem; }

.img--usflag {
  width: 1.7rem;
  height: 1.6rem;
  margin-right: 1rem; }

.img--social-icon {
  width: 3.5rem; }

.farmers-branding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  display: -ms-flexbox;
  display: flex; }
  .farmers-branding--site-name a {
    color: #000000; }
  .farmers-branding--site-slogan {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 300;
    line-height: 2.2rem;
    text-transform: uppercase; }

.farmers-navigation.menu--main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  background: #006546; }
  .farmers-navigation.menu--main .menu {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0; }
    .farmers-navigation.menu--main .menu .menu-item {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      color: #FFFFFF;
      padding-top: 0;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase; }
      .farmers-navigation.menu--main .menu .menu-item a.is-active {
        color: #FFFFFF;
        border-bottom: 0.4rem solid #FFFFFF;
        padding-bottom: .2rem; }

.farmers-navigation.menu--footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  background: #F1F1F1; }
  .farmers-navigation.menu--footer .menu {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0; }
    .farmers-navigation.menu--footer .menu .menu-item {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      color: #000000;
      font-weight: 700;
      padding-top: 0;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase; }
      .farmers-navigation.menu--footer .menu .menu-item a.is-active {
        color: #000000;
        border-bottom: 0.4rem solid #000000;
        padding-bottom: .2rem; }

.farmers-footer-navigation {
  margin-top: 0;
  margin-bottom: 3rem;
  background-color: #F7F7F7;
  padding-top: 2.5rem; }
  .farmers-footer-navigation ul.farmers-footer-navigation--links {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem; }
    .farmers-footer-navigation ul.farmers-footer-navigation--links li {
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.farmers-footer--social {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem; }
  .farmers-footer--social .farmers-footer-social--set {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }

.return-to-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem; }

.usa-banner {
  padding: .5rem 2rem;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F7; }
  .usa-banner p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.8rem; }

.farmers-footer--branding .usa-banner {
  display: none; }

.psg-menu {
  position: absolute;
  width: 100%;
  background: white;
  height: 25px;
  z-index: 1;
  padding: 0 2rem;
  box-shadow: -12px 17px 74px -14px rgba(0, 0, 0, 0.37); }

.psg-menu:hover {
  height: auto;
  max-height: 50vh; }

ul.psg-componentList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
  ul.psg-componentList li {
    margin: 0 2rem;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto; }

h2.psg-componentTitle {
  font-size: 3.9rem; }

.psg-updatedTime,
.psg-colorBox-color,
.psg-colorBox-name {
  font-size: 1.4rem; }

.icn-style-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
